# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# env files
.env
.env.*
*/.env
*/.env.*
# .env.example は含める

# dependencies
/node_modules
*/node_modules
/client/node_modules
/server/node_modules
/.pnp
.pnp.js

# cache files
.cache
*/.cache
**/.cache

# testing
/coverage

# production
/client/build
/server/dist
/server/build

# editor settings
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# deployment
.netlify
.firebase
.vercel
.render
.git*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

node_modules/
**/*.pack

